body{
    background-color: beige;
    font-family: cursive;
}
#container{
    background-color: rgb(219, 177, 126);
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.service{
    border: 1px solid black;
    background-color: rgb(187, 132, 65);
    flex: 1;
    
}
/*adding responsives */
@media(max-width:766px){
    body{
        background-color: aquamarine;
    }
    #container{
        flex-direction: column;
    }
}