body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;

}
h2{
    color:blueviolet;
    text-align: center;
    
}
#myform{
    border: 1px solid goldenrod;
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: darkblue;
    border-radius: 5px;
}
input, textarea{
    border: 1px solid goldenrod;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
label{
    font-weight: bold;
    display: block;
}
input[type="submit"]{
    background-color: brown;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: goldenrod;
}