body{
    background-color: rgb(8, 10, 10);
    font-family: sans-serif;
    margin:0;
    
h1{
    color: brown;
}
p{
    color: rgb(201, 159, 159);
}
#one{
    color: rgb(114, 197, 230);
    
}
#abc{
    color:rgb(160, 228, 43)
}
.hello{
    color:darkgoldenrod
}
.goals{
    color:blueviolet
}
#header{
    background-color: rgb(51, 49, 53);
    text-align: center;
    padding: 20px;
    border-color: black;
}
#content{
    background-color: darkgrey;
    width: 80%;
    margin:20px auto;
    padding: 20px;
}
.chrome{
    background-color: antiquewhite;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid goldenrod;
    border-radius: 15px;
}
#hero{
    text-align: center;
    background-image: url("../Images/City\ Dawn.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    color: bisque;
    padding: 15px;
}
#nav{
    background-color: lightgray;
    padding: 10px;
}
#nav ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
#nav ul li{
    display: inline;
    margin: 0 15px;
}
#nav ul li a{
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}
#nav ul li a:hover{
    background-color: brown;
    padding: 10px;
}